@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Public Library</h1>
    <p class="lead">Implement simplified version of a Library application. The library should meet real-life requirements: a book can have a few authors, an author can write a few books, a book can be taken by different people and different time. Other implementation requirements must be met as well.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

